
/* Your CSS Code here. */
body {
	font-family: Arial, sans-serif;
	background-color: lightgray;
	margin: 0;
	padding: 0;
	text-align: center;
	
}

.movie-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 350px;
	margin: 20px;
	padding: 10px;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 0 2px 4px black;
}

.moviePic:hover {
	opacity: 2;
}

.movieDetail {
	position: relative;
	top: 10px;
	width: 90%;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 400;
	margin-top: 20px;
	text-align: center;
	align-items: center;
	max-width: 700px
}